@import '/src/scss/settings/fonts';
.form-grey{
    font-family: $font-base;
    width: 300px;
    height: 120px;
    background-color: lightgrey;
    padding: 50px;
    margin: auto;
    margin-top: 50px;

    .form-grey-input{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;


        .form-email, .form-password{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;

            .form{
                background-color: lightgrey;
                outline: 0;
                border-width: 0 0 2px;
                border-color: darkgrey;
                margin-bottom: 30px;

                
            }
        }
        .box-button{
            
            width: 500px;
            display: flex;
            justify-content: space-between;
            margin-top: 80px;

            .box-button-zaloguj{
                border: 1 px solid grey;
           }

            .btn{
                height: 50px;
                
                background-color: transparent;
            }

            
        }
    }


}
.handleLoggedUser{
    margin-left: 50%;
    margin-top: 150px;
}