.header {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    //width: 100%;
    //height: 100vh;


    .header-left_box, .header-right_box {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100vh;

        border: 1px solid deeppink;
    }

    .header-left_box {
        background-image: url(../../../assets/images/HeroImage.png);
        // min-width: 100%;
        // min-height: 100%;
        background-position: center;
      }

    nav {
        align-self: flex-start;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        flex-wrap: wrap;
        border: 1px solid deeppink;
    }

    ul {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: row;
        width: 100%;
        margin-bottom: 20px;
        border: 1px solid deeppink;

        li {
            padding-left: 10px;
            
        }
    }
}

@media (max-width: 1024px) {       
    .header {
        flex-direction: column;
        flex-wrap: wrap;
        height: 100vh;
        
        .header-left_box, .header-right_box {
            width: 100vw;
            height: 50vh;
        }
    }

}